@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* ----------------------- Logo and Title -----------------------*/

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  padding-left: 5%;
}

.logo {
  max-width: 100px;
  max-height: auto;
}

.title {
  margin: 0;
  margin-left: 20px;
}

/* ----------------------- Grid Layout -----------------------*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(100, minmax(95px, 1fr));
  column-gap: 5px;
  padding: 15px;
}

.grid-item-3 {
  background-color: cadetblue;
  min-height: 95vh;
}

.grid-item-1 {
  border-right: black 5px solid;
  grid-column: span 4;
}

.grid-item-2 {
  grid-column: span 7;
}

.grid-item-3 {
  border-radius: 20px;
  background-color: #A9D0F6;
  grid-column: span 4;
}

/* ----------------------- Middle Column: Location data -----------------------*/

.location-container h1, .location-container h3{
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 3%;
  padding-top: 2%;
}

.percipitation {
  margin-top: 2%;
}

.location-container h3 {
  margin-left: 1%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25em;
}

.location-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
}

.temperature {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 5em;
}

/* ----------------------- Middle Column: Hourly forecast -----------------------*/
.hourly-forecast-container {
  margin-top: 3%;
  margin: 0 auto;
  max-width: 98%;
  background-color: #A9D0F6;
  min-height: 30%;
  border-radius: 20px;
}

.hourly-forecast-title-container h3 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
}

.hourly-forecast-title {
  float: left;
  margin-left: 5%;
}

.view-radar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
  overflow: none;
}

.view-radar-title {
  margin-right: 2%;
  
}

.radar-icon {
  max-width: 30px;
}

/* ----------------------- Middle Column: Extra 1 Square -----------------------*/

.extras-container {
  min-width: 100%;
  min-height: 35%;
}

.spacer {
  margin-bottom: 3vh;
}

@keyframes inflate-1 {
  from {width: 40%; }
  to {width: 95%; }
}

@keyframes deflate-1 {
  from {width: 95%; }
  to {width: 40%; }
}

.extra-1 {
  display: inline-block;
  margin-top: 3%;
  width: 40%;
  min-height: 30vh;
  background-color: #A9D0F6;
  border-radius: 20px;
}

.extra-1-expand {
  display: inline-block;
  margin-top: 3%;
  width: 95%;
  min-height: 30vh;
  background-color: #A9D0F6;
  border-radius: 20px;
  animation: inflate-1 1s ease;
}

.extra-1-deflate {
  display: inline-block;
  margin-top: 3%;
  width: 95%;
  min-height: 30vh;
  background-color: #A9D0F6;
  border-radius: 20px;
  animation: deflate-1 1s ease;
}

.extra-content-container {
  display: flex;
  align-items: center;
  padding-right: 5%;
  text-align: left;
  float: left; 
  width: 100%;
}

.extra-content-container-col-2-row-1 {
  display: flex;
  align-items: center;
  opacity: 0;
  padding-left: 10%;
  text-align: left;
  float: left;
  width: 100%;
}

@keyframes text-fade-in {
  from {opacity: 0; }
  to {opacity: 1; }
}

@keyframes text-fade-out {
  from {opacity: 1; }
  to {opacity: 0; }
}

.extra-content-container-col-2-row-1-fade-in {
  display: flex;
  align-items: center;
  opacity: 1;
  padding-left: 10%;
  text-align: left;
  float: left; 
  width: 100%;
  animation: text-fade-in .5s ease;
}
.extra-content-container-col-2-row-1-fade-out {
  display: flex;
  align-items: center;
  opacity: 0;
  padding-left: 10%;
  text-align: left;
  float: left; 
  width: 100%;
  animation: text-fade-out .5s ease;
}

.extra-content-container-col-2-row-2 {
  display: flex;
  align-items: center;
  opacity: 0;
  padding-left: 7%;
  text-align: left;
  float: left; 
  width: 100%;
}

.extra-content-container-col-2-row-2-fade-in {
  display: flex;
  align-items: center;
  opacity: 1;
  padding-left: 7%;
  text-align: left;
  float: left; 
  width: 100%;
  animation: text-fade-in .5s ease;
}

.extra-content-container-col-2-row-2-fade-out {
  display: flex;
  align-items: center;
  opacity: 0;
  padding-left: 7%;
  text-align: left;
  float: left; 
  width: 100%;
  animation: text-fade-out .5s ease;
}

.temperature-icon {
  max-width: 50px;
}

.wind-icon {
  max-width: 60px;
}

.sunrise-sunset-icon {
  max-width: 40px;
  padding-left: .8em;
  padding-right: 1%;
}

.wind-speed-container {
  margin-left: 12%;
  margin-bottom: 2%;
}

.wind-gusts-container {
  margin-left: 5%;
  margin-bottom: 2%;
}

.wind-speed-text {
  margin: 0;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
}

.wind-speed-subtitle {
  margin: 0;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

.view-more-text {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  margin-left: 15%;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

.view-more-container {
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  align-items: center;
}


.view-more-icon { 
  max-width: 40px;
}

@keyframes rotate-f {
  from {transform: rotate(0deg); }
  to {transform: rotate(-180deg); }
}

.view-more-icon-rotate-f {
  max-width: 40px;
  padding-left: .8em;
  padding-right: 1%;
  transform: rotate(-180deg);
  animation: rotate-f 1s ease;
}

@keyframes rotate-b {
  from {transform: rotate(-180deg); }
  to {transform: rotate(0deg); }
}

.view-more-icon-rotate-b {
  max-width: 40px;
  transform: rotate(-180deg);
  animation: rotate-b 1.1s ease;
}

.extra-content-title {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  margin-top: 0;
  white-space: nowrap;
}

.extra-content-title-wind {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  margin-top: 0;
}

.extra-content-subtitle {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  margin-bottom: 0;
}

/* ----------------------- Middle Column: Extra 2 Square -----------------------*/

.extra-2 {
  display: inline-block;
  margin-left: 3%;
  margin-top: 3%;
  width: 50%;
  min-height: 30vh;
  background-color: #A9D0F6;
  border-radius: 20px;
}

@keyframes inflate-2 {
  from {width: 00%; }
  to {width: 50%; }
}

@keyframes deflate-2 {
  from {width: 50%; }
  to {width: 0%; }
}

.extra-2-deflate {
  display: inline-block;
  margin-left: 3%;
  margin-top: 3%;
  width: 0%;
  min-height: 30vh;
  background-color: #A9D0F6;
  border-radius: 20px;
  animation: deflate-2 1s ease;
}

.extra-2-inflate {
  display: inline-block;
  margin-left: 3%;
  margin-top: 3%;
  width: 0%;
  min-height: 30vh;
  background-color: #A9D0F6;
  border-radius: 20px;
  animation: inflate-2 1s ease;
}

/* ----------------------- Right Column: 7-Day forecast -----------------------*/
.seven-day-title-container h3 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
}

.seven-day-title {
  float: left;
  margin-left: 5%;
}

.seven-day-hi-lo {
  float: right;
  margin-right: 5%;
}